<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar bg-black">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="waves-effect waves-dark" href="#"><img src="assets/images/icon/man-user.svg" alt="user" /></a>
                </li>
                <!--<li>
                    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard Page</span></a>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Component</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Accordion</a></li>
                        <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Alert</a></li>
                        <li><a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Carousel</a></li>
                        <li><a routerLink="/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a></li>
                        <li><a routerLink="/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a></li>
                        <li><a routerLink="/modal" [routerLinkActive]="['router-link-active']">Modal</a></li>
                        <li><a routerLink="/pagination" [routerLinkActive]="['router-link-active']">Pagination</a></li>
                        <li><a routerLink="/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a></li>
                        <li><a routerLink="/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a></li>
                        <li><a routerLink="/rating" [routerLinkActive]="['router-link-active']">Ratings</a></li>
                        <li><a routerLink="/tabs" [routerLinkActive]="['router-link-active']">Tabs</a></li>
                        <li><a routerLink="/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a></li>
                        <li><a routerLink="/typehead" [routerLinkActive]="['router-link-active']">Typehead</a></li>
                    </ul>
                </li>-->
                <li class="logout">
                    <a routerLink="/signin" class="waves-effect waves-dark" [routerLinkActive]="['router-link-active']" (click)="onSignout()" ><img src="assets/images/icon/power-button-off.svg" alt="logout" /></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
